
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-image: url('https://wallpapers.com/images/hd/sage-green-mood-aesthetic-collage-laptop-32jsy6xcc3irwsne.jpg ');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-image:url('https://i.pinimg.com/736x/8a/f4/01/8af4011ca82fa54d28d089aab8f4ba53.jpg') ;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    margin-bottom:0 ;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border: 1px solid #333;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #050000;
    font-family: fantasy;
}


input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 6px;
    background-color: #1a1a1a;
    color: white;
    outline: none;
    transition: 0.3s;
}


input[type="password"]:focus {
    border-color: #58a6ff; 
}


#message {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    min-height: 25px;
}